name: Linux CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build-gcc9-coveralls:
    runs-on: ubuntu-latest
    name: GNU GCC 9 and run coveralls
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build lorina
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-9 -DLORINA_TEST=ON -DENABLE_COVERAGE=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
    - name: Run lcov
      run: |
        sudo apt-get install lcov
        lcov -t "result" -o lcov.info -c -d .
        lcov -e lcov.info "*lorina/include*" -o lcov_filtered.info
        lcov -l lcov_filtered.info
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./lcov_filtered.info
  build-gcc7:
    runs-on: ubuntu-latest
    name: GNU GCC 7
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build lorina
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-7 -DLORINA_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  build-gcc8:
    runs-on: ubuntu-latest
    name: GNU GCC 8
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build lorina
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-8 -DLORINA_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  build-gcc9:
    runs-on: ubuntu-latest
    name: GNU GCC 9
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build lorina
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-9 -DLORINA_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  build-clang8:
    runs-on: ubuntu-latest
    name: Clang 8
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build lorina
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=clang++-8 -DLORINA_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  build-clang9:
    runs-on: ubuntu-latest
    name: Clang 9
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build lorina
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=clang++-9 -DLORINA_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests